# LIGA O REWRITE DE URLs
RewriteEngine on

# REGRA DE REWRITE PARA O INDEX, DIZENDO QUE ELE REESCREVE A URL MENOS SE ELA FOR PARA UM ARQUIVO
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ./index.php [QSA,NC]
