<!-- onde há chaves duplas ({{}}), será um conteúdo a ser substituído por uma variável -->
<style>
    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    body {
        width: 100%;
        background-image: url(https://static.vecteezy.com/system/resources/previews/002/948/777/non_2x/pixel-background-the-concept-of-games-background-vector.jpg)
    }

    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        resize: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: Poppins, Arial, Helvetica, sans-serif;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .buttonHeader {
        width: 100%;
        text-align: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-bottom: 2vh;
    }

    .corpo {
        height: 72vh;
        display: flex;
        flex-direction: row;
    }

    .rodape {
        height: 28vh;
        background-color: unset;
    }

    .plantas {
        height: 100%;
        width: 80%;
        padding-right: calc(50% - 38vw);
        padding-top: 15vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
    }

    .barra {
        height: 100%;

        width: 20%;
    }

    .card {
        height: auto;
        min-width: max-content;
        background-color: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        margin-bottom: 2vh;
        margin-right: 10.5vw;
    }

    .cardAction{
        height: 2vh;
    }

    .down {
        flex-direction: row;
    }

    cardImg {
        width: 2vw, fit-content;
        height: fit-content;
    }

    imgAction{
        min-width: 100px;
    }

</style>

<div class="container">
    <div class="corpo">
        <div class="plantas">
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
                <div class="card">
                    <div>
                        <img src="{{dir}}/img/botao.png" class="cardImg">
                    </div>
                    <div class="down">
                        <img src="{{dir}}img/Fd.png" class="cardImg"><img src="{{dir}}/img/Tronco.png" class="cardImg"><img
                            src="{{dir}}/img/Fe.png" class="cardImg">
                    </div>
                </div>
        </div>
        <div class="barra">
            <div class="buttonHeader">
                <a href="{{URL}}"><button class="btn btn-success">LOGIN</button></a>
                <a href="{{URL}}/home"><button class="btn btn-primary">HOME</button></a>
                <a href="{{URL}}/store"><button class="btn btn-danger">STORE</button></a>
                <a href="{{URL}}/lab"><button class="btn btn-warning">LABORATORY</button></a>
            </div>
        </div>
    </div>

    <div class="rodape">
        <div class="cardAction">
            <img src="{{dir}}/img/Card.png" class="imgAction">
        </div>
    </div>
</div>