<!-- onde há chaves duplas ({{}}), será um conteúdo a ser substituído por uma variável -->
<style>
    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    body {
        width: 100%;
        background-image: url(https://static.vecteezy.com/system/resources/previews/002/948/777/non_2x/pixel-background-the-concept-of-games-background-vector.jpg)
    }

    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        resize: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: Poppins, Arial, Helvetica, sans-serif;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .buttonHeader {
        
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin: 1vh 8.2vw;
    }

    .corpo {
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .plantas {
        width: 80%;
        /* padding-right: calc(50% - 38vw); */
    }

    canvas{
        position: fixed;
    }
    /* 

    .card {
        height: auto;
        min-width: max-content;
        background-color: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        margin-bottom: 2vh;
        margin-right: 10.5vw;
    }

    .cardAction{
        height: 2vh;
    }

    .down {
        flex-direction: row;
    }

    .cardImg {
        width: 2vw, fit-content;
        height: fit-content;
    }

    .imgAction{
        min-width: 100px;
    }
 */
</style>


<div class="corpo">
    <div class="plantas" id="game">
        <script src="{{dir}}/js/home.js"></script>
    </div>
    <div class="buttonHeader">
        <a href="{{URL}}" class="btn btn-success">LOGIN</a>
        <a href="{{URL}}/home" class="btn btn-primary">HOME</a>
        <a href="{{URL}}/store" class="btn btn-danger">STORE</a>
        <a href="{{URL}}/lab" class="btn btn-warning">LABORATORY</a>
    </div>
</div>